{% extends 'base.html' %}
{% load i18n %} <!-- разрешает работать с интернационализацией -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
</head>
<body>
    {% block content %}
        <! посмотреть записи без входа, вход и регистрация !>
        <h1>{% trans '*Web Blogs*' %}</h1>
        <p> {{ message }} </p>
        <button><a href="blogs/">{% trans 'Go to blogs' %}</a></button>
        <button><a href="singup/">{% trans 'Sing In' %}</a></button>
        <button><a href="singin/">{% trans 'Sing Up' %}</a></button>
    {% endblock content %}
</html>