<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ request.user }} </title>
</head>
<body>
    <h2>Добавить инфу из Profile и User с возможностью редактировать</h2>
    <button><a href="/logout/">Выйти из профиля</a></button>
    <button><a href="/blogs/">Перейти к записям</a></button>
    <button><a href="/blogs/create/">Создать запись</a></button>
</body>
</html>