<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание записи</title>
</head>
<body>
    <button><a href="from_csv/">Создать несколько записей из файла CSV</a></button>
    <form method="post" action="" enctype="multipart/form-data">
        {% if not request.user.is_authenticated %}
            <h4>Создавать записи могут только авторизированные пользователи</h4>
        {% endif %}
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Опубликовать</button>
    </form>
</body>
</html>